html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;        /* empêche le scroll */
    background-color: white; /* fond blanc autour de la zone jouable */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center; /* centre horizontalement le canvas */
    align-items: center;     /* centre verticalement le canvas */
    font-family: Arial, sans-serif;
}

#game {
    display: block;
    border: 2px solid black; /* visualiser la zone jouable */
}

#game .phaser-text {
    cursor: pointer;         /* curseur pour bouton PLAY */
}
