body {
    margin: 0;
    padding: 0;
    background: #87CEEB; /* ciel bleu */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    touch-action: none; /* pour le tactile */
}

#game {
    width: 100%;
    height: 100%;
}
