body {
    margin: 0;
    padding: 0;
    background-color: white; /* tout le reste de la page sera blanc */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* hauteur totale de la fenêtre */
}

#game {
    border: 2px solid black; /* optionnel, pour voir la zone jouable */
}
